{% extends 'base.html.twig' %}

{% block title %}Mon Pokedex - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Mon pokedex</h1>
    <hr>
    <a href="{{ path('app_pokedex_add') }}" class="btn btn-primary mb-3">Ajouter</a>
    <div class="row">
        {% for pokedex in pokedexes %}
            <div class="col-3 mb-4">
                <div class="card">
                    <img src="{{ pokedex.pokemon.image }}" class="card-img-top" alt="" style="{{ not pokedex.captured ? 'filter: grayscale(100%);' }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ pokedex.pokemon.name|capitalize }}</h5>
                        <p class="card-text">
                            <b>Numéro</b> : {{ pokedex.pokemon.number }}<br>
                            <b>Type(s)</b> :
                            {% for type in pokedex.pokemon.types %}
                                {{ type.name }}{{ not loop.last ? ', ' }}
                            {% endfor %}
                            <br><br>
                            {% if pokedex.captured %}
                                <span class="text-muted">Capturé le {{ pokedex.capturedAt|date('d/m/y à H:i') }}<br>
                            {% else %}
                                <br>
                            {% endif %}
                            <span class="text-muted">Vu le {{ pokedex.seenAt|date('d/m/y à H:i') }}
                        </p>
                        <a class="btn btn-primary" href="{{ path('app_pokemon_show', {'id': pokedex.pokemon.id}) }}">
                            Voir
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
