{% extends 'base.html.twig' %}

{% block title %}Nouveau pokemon - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Nouveau Pokemon</h1>
    <hr>
    <div class="row">
        {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_row(form.number) }}
        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary" value="Créer">
        {{ form_end(form) }}
    </div>
{% endblock %}
