{% extends 'base.html.twig' %}

{% block title %}Liste des pokemons - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Détails de "{{ pokemon.name }}"</h1>
    <hr>
    <div class="row">
        <div class="col-3 mb-4">
            <div class="card">
                <img src="{{ pokemon.image }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ pokemon.name|capitalize }}</h5>
                    <p class="card-text">
                        <b>Numéro</b> : {{ pokemon.number }}<br>
                        <b>Type(s)</b> :
                        {% for type in pokemon.types %}
                            {{ type.name }}{{ not loop.last ? ', ' }}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
